/* Variables */

:root
{
  // Colors
  --background-color: #edf2f4;
  --tablet-color: #8d99ae;
  --number-color: #8d99ae35;
  --focus1-color: #ef233c;
  --focus2-color: #d90429;
  --font-color: #2b2d42;
  --shadow-color: #4a4b5e;

  //Temp colors
  --font-c: #dad7cd;
  --container-c: #588157;
  --tablet-c: #3a5a40;
  --subtablet-c: #344e41;
}