
/*----------Global properties----------*/

body {
  padding: 0;
  margin: 0;

  background-color: var(--background);
}

/*----------Main containers----------*/

.container {
  height: 100vh;
  width: calc(100vw - 128px);
  margin: 0 64px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.barContainer {
  width: 100vw;
  top: 8px;

  position: fixed;
  box-sizing: border-box;
}

/*----------Main tabs----------*/

.tablet {
  width: 100%;
  height: calc(100% - 128px);
  background-color: var(--tabColor);
}

.tabletGrid {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
}

.tabletFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.tabletBar {
  width: 100%;
  padding: 0 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  border-bottom: solid 2px var(--fontColor);
}

.card {
  width: 100%;
  height: 100%;
}

/*----------Main styles----------*/

.subTabletBar {
  display: flex;
  gap: 64px;
}

.textContainer {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.galleryWraper {
  width: 80%;
  height: 100%;
}

.subGalleryWraper {
  width: 20%;
  height: 100%;
}

/*----------Additional styles----------*/

.bordered {
  border: solid 3px var(--focused);
}

/*----------Hierarchy styles----------*/

.panorama > .tabletFlex {
  gap: 32px;
}

.panorama > .tabletFlex > .textContainer {
  width: 40%;
}

.panorama > .tabletFlex > .image {
  width: 60%;
}

.gallery > .tabletFlex {
  gap: 32px;
}

/*----------Responsable styles----------*/

/*Desktop*/
@media screen and (min-width: 1280px) {

}

/*Notebook*/
@media screen and (max-width: 1280px) {

}

/*Tablet*/
@media screen and (max-width: 900px) {

}

/*Tablet-Phone*/
@media screen and (max-width: 640px) {

}