
/*----------Global text properties----------*/

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 550;
  color: var(--font_color);
}

/*----------Main text styles----------*/

.link {
  width: 100%;
  padding: 12px;
  cursor: pointer;
  text-align: center;

  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  color: var(--font_color);

  transition: all ease-in-out 0.3s;
  &:hover {
    background-color: var(--focused);
  }
}

.title {
  font-size: 28px;
  font-weight: 600;
}

.title_first::first-line {
  font-size: 28px;
  font-weight: 600;
}

/*----------Additional text styles----------*/

.center {
  text-align: center;
}

/*----------Responsable text styles----------*/

