
/*----------Global text properties----------*/

* {
  padding: 0;
}

/*----------Main text styles----------*/

.anchorLink {
  font-size: 16px;
  line-height: 16px;
  padding: 7px 0;
  
  font-family: "Montserrat";
  color: var(--fontColor);
  text-decoration: none;
}

/*----------Additional text styles----------*/

.warn {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
}

/*----------Responsable text styles----------*/

