.home-page
{
  width: 88vw;
  height: calc(100dvh - 82px);
  margin: 0 6vw;
  display: flex;
  flex-direction: column;

  &__text {
    width: 100%;
    margin: 4dvh 0;
    font-family: "Inter";
    line-height: 1.2;
    font-size: clamp(16px, 1vw, 22px);
    text-align: justify;
    color: var(--font-color);

    &--bold {
      font-family: "Montserrat";
      font-weight: 550;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    background-color: var(--tablet-color);
  }
}